body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", PT Sans, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
 }

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  background-color: #f2f6f8;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.container {
	width: 940px;
  margin: 0 auto;
}

.main-header .top-header {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bttn-more-information {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  padding: 7px 29px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
}

.header-logo {
	margin: 0;
	flex: 0 0 220px;
	margin-bottom: -5px;
}

.site-logo {
	padding-top: 10px;
	padding-bottom: 8px;
	display: block;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ee3643;
	border-bottom: 5px solid #b52933;
}

.site-logo:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.site-logo:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.header-hot-keys {
  background-color: #293449;
}

.header-hot-keys a {
  color: #ffffff;
}

.search-form {
	flex: 0 0 270px;
	display: flex;
}

.search-form input {
  flex: 1 0 150px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  cursor: pointer;
  order: 2;
  padding-bottom: 5px;
}

.button-search {
	flex-basis: 46px;
  order: 1;
  background-color: #293449;
  border: none;
  outline: none;
  padding: 0;
}

.button-search .loop {
  width: 17px;
  height: 17px;
  fill: #ffffff;
  opacity: 0.3;
  padding-left: 5px;
}

.search-form .search-input:hover {
	background-color: #212a3a;
}

.loop:hover {
	opacity: 1;
}

.button-search:hover {
	background-color: #212a3a;
}

.search-form .search-input:focus {
	color: #000000;
	background-color: #ffffff;
	outline: none;
}
 
.button-search:active {
	background-color: #ffffff;
}

.loop:active {
	opacity: 1;
	fill: #ee3643;
	outline: none;
}

.search-input:focus  {
  background-color: #ffffff;
}   

.search-input::placeholder {
	padding-left: 14px;
}

.search-input::placeholder {
 color: #ffffff;
}

.search-input:focus ~ placeholder {
 color: #000000;
}

.header-link,
.header-top-link {
	flex-basis: 150px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  position: relative;
}

.header-link.bookmark {
	display: block;
  padding: 10px 20px 12px 43px;
}

.header-link.basket,
.header-link.basket-active {
	display: block;
  padding: 10px 20px 12px 49px;
}

.header-link.basket-active {
	display: block;
  padding: 12px 30px 12px 37px;
}

.header-top-link.order {
	display: block;
	padding: 10px 20px;
}

.bookmark:active,
.basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.bookmark:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmark:focus,
.basket:focus {
  background-color: #293449;
}

.order {
  background-color: #63a63e;
}

.order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.order:hover {
  background-color: #5fbb2d;
}

.order:focus {
  background-color: #63a63e;
}

.header-link::before {
  content: "";
  position: absolute;
  left: 17px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.header-link:hover::before,
.header-link:focus::before {
	opacity: 1;
}

.header-link:active::before {
  opacity: 0.5;
}

.bookmark::before {
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
}                

.basket::before,
.basket-active::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
}                

.header-contacts-profile {
  display: flex;
  align-items: flex-start;
  padding-bottom: 42px;
  padding-top: 46px;
  padding-left: 51px;
  box-sizing: border-box;
}

.about-company {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  padding: 0;
  margin:  0;
  margin-right: 68px;
  flex: 0 0 200px;
 }

.header-adress-information {
  margin-right: 70px;
}

.contacts {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  flex: 0 0 270px;
  padding: 9px 46px 8px 73px;
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 2px;
}

.contacts::before {
	content: "";
  position: absolute;
	top: 10px;
  left: 13px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.address {
  color: #32425c; 
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0:;
}

.user-navigation {
  display: flex;
 }

.user-navigation,
.user-navigation-catalog,
.avtorized-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-navigation .user-profile,
.user-navigation .user-registration {
	box-sizing: border-box;
	text-align: center;
  background-color: #ffffff;
}

.user-navigation .user-profile:first-child {
  margin-right: 5px;
}

.user-profile .user-identification,
.user-profile .user-registration {
  font-size: 21px;
  line-height: 21px;
  padding: 11px 26px;
	display: block;
	vertical-align: middle;
  color: #000000;
}

.user-profile .user-identification {
	padding-left: 46px;
	padding-bottom: 0;
}

.user-profile a:hover {
  color: #ee3643;
}

.user-profile a:active {
   color: rgba(0, 0, 0, 0.3);
}

.icon-identification {
	position: absolute;
	left: 15px;
	top: 13px;
}

.user-profile {
	position: relative;
}

.icon-profile {
	position: absolute;
	left: 14px;
	bottom: 13px;
}

.icon-logout {
	position: absolute;
	right: 10px;
	bottom: 13px;
}

.user-identification .icon-identification,
.user-identification .icon-profile,
.user-identification .icon-logout {
	fill: #c5c5c5;
}

.user-identification:hover .icon-identification,
.user-identification:hover .icon-profile,
.user-identification:hover .icon-logout {
  fill: #32425c;
}

.user-identification:active .icon-identification,
.user-identification:active .icon-profile,
.user-identification:active .icon-logout {
  fill: #c5c5c5;
}

nav .site-navigation {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff; 
  display: block;
  vertical-align: middle;
  padding: 21px 31px;   
 }

.site-navigation a:first-child {
	padding-left: 30px;
}

.site-navigation a:hover {
  background-color: #293449;
  border-bottom: none;
}

.site-navigation a:active {
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}

.features-row {
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.features-item {
  width: 300px;
  min-height: 122px;
  margin-right: 20px;
  padding: 21px 23px;
  box-sizing: border-box;
  position: relative;
}

.features-list h3,
.features-column h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 10px;
}

.features-list .features-button,
.features-column .features-button {
	color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  display: block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 20px;;
  width: 135px;
  height:38px;
  border-radius: 3px;
  box-sizing: border-box;
}

.features-list .features-button,
.features-column .features-button {
	background-image: url("../img/btn-transparent-slider.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-button:active {
	background-color: rgba(0, 0, 0, 0.3);
	outline: 4px solid rgba(255, 255, 255, .5);
}

.features-item.materials {
  background-color: #ffbf47;
  position: relative;
} 

.features-item .flag {
  position:absolute;
  top:-1px;
  right:-1px;
  width:60px;
  height:60px;
  text-indent:-1000px;
  overflow:hidden;
  z-index:20;
  margin: 0;
  padding: 0;
}
.features-item .flag-new {
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.materials::after {
	content: "";
	position: absolute;
  top: 31px;
  right: 8px;
  width: 78px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.tool {
  background-color: #3bbce3;
}

.features-item.tool::after {
	content: "";
	position: absolute;
  top: 31px;
  right: 28px;
  width: 78px;
  height: 65px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.technic {
  background-color: #dc91d8;
  margin-right: 0;
}

.features-item.technic::after {
	content: "";
	position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 65px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.discounts {
  background-color: #8ed78f;
}

.features-item.discounts::after {
	content: "";
	position: absolute;
  top: 24px;
  right: 25px;
  width: 78px;
  height: 72px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item.delivery {
  background-color: #ffc047;
}

.features-item.delivery::after {
	content: "";
	position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 65px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.block-slider-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 620px;
	height: 266px;
	margin-right: 20px;
}

.slider-controls {
	position: absolute;
	bottom: 36px;
	left: 50%;
	z-index: 3;
	width: 40px;
	margin: 0;
	margin-left: -20px;
	padding: 0;
 	font-size: 0;
	line-height: 0;
	text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0;
	vertical-align: top;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	box-sizing: border-box;
}

.btn-controls.current {
	margin-right: 5px;
	background-color: #ee3643;
}

.btn-controls {
	background-color: #ffffff;
}

.slider-item1,
.slider-item2 {
  position: relative;
  display: none;
  width: 620px;
  height: 266px;
  padding: 23px 22px 22px 24px;
  box-sizing: border-box;
}

.drill-current {
	display: block;
}

.slider-inner {
	display: flex;
	flex-direction: 
}

.slider-item1 h2,
.slider-item2 h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
} 

.slider-item1 p,
.slider-item2 p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  z-index: 1;
  margin: 0;
}

.slider-item1 img,
.slider-item2 img {
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-item1 a,
.slider-item2 a {
  position: absolute;
  bottom: 21px;
  left: 25px;
  width: 195px;
}

.slider-button:hover {
  background-color: #cb2834;
}

.slider-button:active {
  background-color: #ba2732;
}

.slider-item1.perforator a:hover,
.slider-item2.drill a:hover {
  background-color: #ca2c37;
 }

.slider-item1.perforator a:active,
.slider-item2.drill a:active {
  background-color: #ba2732;
 }

.slider-toggle .slider-previous,
.slider-toggle .slider-next {
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
}

.slider-previous {
  top: 117px;
  left: 30px;
  transform: rotate(45deg);
}

.slider-next {
	top: 117px;
	right: 27px;
  transform: rotate(-135deg);
}

.features-column {
  display: flex;
  flex-direction: column;
}

.features-column .features-item {
  margin-right: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  min-height: 124px;
}

.column-wrapper {
	display: flex;
	margin-bottom: 31px;
}

.products-header,
.manufacturers-header {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.products-header p,
.manufacturers-header p {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 26px;
}

.popular-button.bttn-more-information,
.popular-goods.bttn-more-information {
  width: 253px;
  margin: 24px;
}

.products-catalog {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.products-item {
  position: relative;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 21px;
  border: 1px solid #ccc;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}

.products-item:last-child {
  margin-right: 0;
}

.products-item .flag {
	position: absolute;
	top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product-link .flag-new {
	background-image: url(../img/new-flag.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	margin: 0;
	padding: 0;
}

.products-item .product-link {
	display: flex;
	flex-direction: column;
}

.products-item .actions-buttons {
	display: none;
}

.products-item .actions-buttons {
  position:absolute;
  top:0;
  left:0;
  width:218px;
  height:88px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.actions-buttons .buy-button,
.actions-buttons .bookmark-button {
  display:block;
  width:129px;
  margin:0 auto;
  margin-bottom:7px;
  padding:7px 0;
  border:3px solid #63a63e;
  border-bottom-color:#367315; 
  background-color:#63a63e;
  color:white;
  font-size:14px;
  font-weight:normal;
  font-family:"Cuprum", sans-serif;
  line-height:18px;
  text-decoration:none;
  text-transform:uppercase;    
  border-radius:3px;
}

.actions-buttons .bookmark-button {
  color:#32425c;
  background:white;
  border-bottom-color:#63a63e;
}

.products-item .actions-buttons{
  display:none;
}
.products-item:hover .actions-buttons {
  display:block;
  pointer-events:none;
}

.products-item h3 {
	min-height: 40px;
	padding: 0 18px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PTSansBold", sans-serif;
  margin-bottom: 9px;
  margin-top: 6px;
  text-align: center;
  order: 2;
}

.products-item img {
	width: 218px;
	margin-bottom: 10px;
}

.products-item .old-price,
.products-item .discount-price {
  font-size: 17px;
  line-height: 18px;
  font-family: Pt Sans;
  font-weight: 700;
}

.products-item .old-price {
  text-align: center;
  min-height:20px;
  color:#999999;
  order: 3;
}

.products-item .discount-price {
	position:relative;
  width:80px;
  margin: 11px auto;
  margin-bottom:21px;
  padding:9px 28px;
  color:white;
  background:#ee3643;
  border-radius:3px;
  order: 4;
}

.products-item .discount-price:after{
  content:"";
  position:absolute;
  top:0;
  right:-22px;
  width:0;
  height:0;
  border: 18px solid white;
  border-left-color:#ee3643;
}

.buy-button {
  color: #ffffff;
  background-color: #63a63e;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #367315;
}

.buy-button:hover {
  background-color: #5fbb2d;
  border-bottom: 1px solid #367315;
}

.buy-button:active {
  background-color: #518534;
  border-bottom: 1px solid #518534;
}

.bookmark-button {
  color: #32425c;
  background-color: #ffffff;
  border: 1px solid #63a63e;
  font-size: 14px;
  line-height: 18px;
 }

.bookmark-button:hover {
  border: 1px solid #32425c;
}

.bookmark-button:active {
  border: 1px solid #c1c6ce;
  color:rgba(50, 66, 92, 0.3);
}

.manufacturers-catalog {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 65px;
  display: flex;
  flex-wrap: wrap;
}

.manufacturers-catalog li {
  border: 1px solid #ebebeb;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  align-items: center;
}

.manufacturers-catalog li a {
	margin: 0 auto;
}

.manufacturers-catalog li:nth-child(4),
.manufacturers-catalog li:nth-child(8) {
  margin-right: 0;
}

.services-wrapper {
	width: 100%;
	background-color: #f4f8fa;
	margin-bottom: 79px;
}

.services {
  padding-top: 65px;
  position: relative;
  min-height: 454px;
}

.services h2 {
	font-size: 30px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 25px;
  width: 400px;
  text-transform: uppercase;
}

.services p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 71px;
  width: 400px;
}

.services-description h3 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 31px;
  padding-top: 4px;
  width: 400px;
}

.services-description .delivery-description {
	width: 275px;
}

.services-description .warranty-description {
	width: 310px;
}

.services-description .credit-description {
	width: 270px;
	margin-bottom: 26px;
}

.send-request {
	color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  padding: 10px 25px;
  box-sizing: border-box;
  border-radius: 2px;
  width: 195px;
}

.services-slider {
  display: flex;
  flex: 0 0 240px;
}

.services-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 77px;
  position: relative;
}

.services-menu:after {
	content: "";
	position: absolute;
  bottom: 56px;
  left: 232px;
  width: 10px;
  height: 272px;
  background-image: url(../img/service-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-menu li {
  background-color: #32425c;
  width: 240px;
  border-bottom: 1px solid #4d637b;
  cursor: pointer;
}

.services-menu label {
	font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  padding-left: 21px;
  padding-bottom: 17px;
  padding-top: 13px;
  min-height: 47px;
  display: block;
  vertical-align: middle;
  box-sizing: border-box;
}

.service-slider:hover {
  background-color: #293449;
}

.service-slider:active {
  background-color: #ffffff;
  color: #32425c;
}

.services-description-list {
	position: relative;
	width: 620px;
	min-height: 284px;
	list-style: none;
  padding: 0;
  margin: 0;
}

.services-description-list li {
	z-index: 1;
  position: absolute;
  width: 620px;
  min-height: 284px;
}

.service-warranty-active {
	display: none;
}

.service-credit-active {
	display: none;
}

.services-description img {
	position: absolute;
	top: 22px;
	right: -4px;
	z-index: -1;
}

.services-description a {
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  text-transform: uppercase;
}

.service-btn-1:checked ~ .services-slider .switch-btn-1,
.service-btn-2:checked ~ .services-slider .switch-btn-2,
.service-btn-3:checked ~ .services-slider .switch-btn-3 {
	color: #32425c;
	background-color: #ffffff;
}

.service-btn-1:focus ~ .services-slider .switch-btn-1,
.service-btn-2:focus ~ .services-slider .switch-btn-2,
.service-btn-3:focus ~ .services-slider .switch-btn-3 {
	background-color: #293449;
}

.service-btn-1:checked ~ .services-slider .service-delivery-active,
.service-btn-2:checked ~ .services-slider .service-warranty-active,
.service-btn-3:checked ~ .services-slider .service-credit-active {
	z-index: 1;
}


.services-container {
  display: flex;
  padding-bottom: 84px;
}

.about-delivery {
  flex-basis: 535px;
}

.about-contacts {
  flex-basis: 300px;
  margin-left: auto;
}

.about-delivery h2,
.about-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 27px;
} 

.about-delivery p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PTSansRegular", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
} 

.delivery-detalization {
	width: 410px;
}

.delivery-company {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  margin-left: 36px;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 20px;
  position: relative;
}  

.delivery-company li::before {
	content: "";
  position: absolute;
  top: 7px;
  margin-left: -37px;
  width: 25px;
  height: 2px;
  background-color: #ef3341;
}

.about-contacts p {
	font-size: 13px;
	line-height: 24px;
	font-family: "CuprumRegular", "Arial", sans-serif;
	width: 200px;
	margin: 0;
	padding: 0;
	margin-bottom: 31px;
}

.about-map img {
	width: 300px;
	height: 158px;
	margin-bottom: 31px;
}

.more-details {
	width: 220px;
}

.write-us {
	width: 300px;
}

.main-footer {
  background-color: #32425c;
}

.footer-main-navigation {
  display: flex;
  padding-bottom: 49px;
}

.footer-logo-top {
  margin-right: 40px;
  flex: 0 0 340px;
}

.footer-logo {
	margin: 0;
  width: 220px;
	margin-bottom: -5px;
}

.footer-logo .footer-logo-image {
  padding-top: 17px;
  padding-bottom: 16px;
  display: block;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ee3643;
  border-bottom: 5px solid #9c2933;
}

.footer-logo-top .footer-contacts,
.footer-logo-top .phone {
	color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
}

.footer-contacts, 
.footer-phone {
	margin: 0;
}

.footer-nav-menu {
  display: flex;
  margin: 40px 0 0;
  padding-left: 0;
}

.footer-nav-menu,
.footer-navigation-products,
.social-list {
  list-style: none;
}

.footer-nav-menu li,
.footer-navigation-products li {
  margin-right: 30px;
}

.footer-nav-menu li:last-child,
.footer-navigation-products li:last-child {
  margin-right: 0;
}

.footer-navigation-products {
  display: flex;
  margin: 31px 0 0;
  padding-left: 25px;
}

.footer-nav-menu a {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  padding: 14px
 }

.footer-navigation-products a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
  padding: 14px
 }

.footer-nav-menu a:hover,
.footer-navigation-products a:hover {
	text-decoration: underline;
}

.footer-nav-menu a:active,
.footer-navigation-products a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom-container {
	background-color: #293449;
}

.footer-links {
	display: flex;
  padding-top: 36px;
  padding-bottom: 35px;
}

.social-list {
	padding: 0;
	margin: 0 auto;
  flex-basis: 135px;
  order: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 116px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.copyright {
	margin-right: 75px;
  flex: 0 0 240px;
	order: 1;
	margin-right: 30px;
}

.copyright p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.feedback {
	display: flex;
	order: 3;
	flex-basis: 300px;
}

.feedback b:first-child {
  margin-right: 30px;
}

.feedback b:last-child {
  text-align: center;
}

.feedback b {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.feedback a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

.write-us-popup {
  color: #a9a9a9;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.write-us-form label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSansRegular", "Arial", sans-serif;
  border: 2px solid #d7dcde;
}

.write-us-form input:hover {
  border: 2px solid #b5b5b5;
}

.write-button-popup:focus {
  background-color: #ee3643;
}

.popup-button {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  font-family: "PTSansRegular", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
}

.main-header.inner {
	margin-bottom: 20px;
}

.basket-active {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
 }

.basket-active:hover {
	background-color: #ca2c37;
}

.basket-active:active {
	background-color: #ba2732;
}

.header-adress-information.inner {
	margin-right: 50px;
}

.user-navigation-catalog .user-profile {
  width: 300px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-bottom: 6px;
}

.user-profile .profile-catalog {
  font-size: 21px;
  line-height: 21px;
	display: block;
	margin: 0;
  padding: 10px 0 10px 45px;
  color: #000000;
  position: relative;
}

.avtorized-list .orders,
.avtorized-list .account {
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.avtorized-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
  padding: 0;
  margin-left: 20px;
}

.avtorized-list .orders {
	margin-right: 30px;
	position: relative;
}

.orders::after {
	content: "";
	position: absolute;
	bottom: 6px;
	left: 90px;
	width: 0;
	height: 0;
	border: 2px solid #32425c;
	border-radius: 50%;
}

.avtorized-list .orders:hover,
.avtorized-list .orders:focus {
  color: #ee3643;
}

.avtorized-list .orders:active {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
 	list-style: none;
 	display: flex;
 	align-items: center;
 	margin: 0;
 	padding: 0;
 	margin-bottom: 20px;
 }

.breadcrumbs a {
   color: #000000;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT SansRegular", "Arial", sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
 }

.product-header {
	background-color: #f2f6f8;
	margin-bottom: 20px;
	padding: 30px 0 30px 30px;
}

.product-header h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-columns-wrapper {
	display: flex;
}

.filter {
	width: 220px;
	margin-right: 20px;
}

.filter-wrapper {
	display: flex;
	background-color: #f7f3ec;
	margin-bottom: 11px;
	border-radius: 5px;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.range-content {
  margin-bottom: 9px;
  padding: 29px 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 4px 4px;
}

.filter .manufacturers {
 	margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter .power-supply {
	margin-bottom: 75px;
}

.filter-option {
	margin-bottom: 25px;
	padding-left: 34px;
}

.filter-option:last-child {
	margin-bottom: 0;
}

.filter-wrapper h2,
.selection-products p {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
 }

.filter-wrapper h2 {
	margin: 0;
  padding: 10px 18px;
	min-height: 29px;
	box-sizing: border-box;
}

.range-input {
  color: #000000;
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  font-family: "PTSansRegular", "Arial", sans-serif;
  width: 95px;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
  z-index: 1;
}

.range-toggle {
  position: absolute;
  top: 5px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
	z-index: 2;
  left: 0;
}

.range-toggle-max {
  left: 80%;
  z-index: 2;
}

.price-controls {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #e5e5e5;
}

.price-controls label {
 	font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  position: relative;
  text-align: center;
  width: 95px;
  padding: 10px 0;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.price-controls::before {
	content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  left: 50%;
  top: 19px;
  margin-left: -5px;
  background-color: #000000;
}

.filter legend {
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  margin-bottom: 14px;
}

.filter-option label {
  color: #000000;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif; 
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.filter-input-checkbox + label::before {
	content: "";
	position: absolute;
	display: inline-block;
	height: 23px;
	width: 23px;
	left: -34px;
  top: -2px;
	background-color: transparent;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.filter-input-checkbox:checked + label::after {
	content: "";
	position: absolute;
	display: inline-block;
	height: 10px;
	width: 17px;
	left: -30px;
  bottom: 10px;
  border-left: 3px solid #c5c5c5;
  border-bottom: 3px solid #c5c5c5;
  transform: rotate(-45deg);
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
	background-image: url("../img/checkbox-off.svg");
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before {
  color: #b5b5b5;
}

.filter-input-checkbox:checked:disabled + label::before {
	opacity: 0.3;
}


.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -34px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -27px;
  width: 8px;
  height: 8px;
  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:disabled + label::before {
  opacity: 0.3;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label::before {
  color: #000000;
  opacity: 0.3;
}

.manufacturers-button {
  color: #000000;
  background-color: #ffffff;
  width: 140px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PTSansRegular", "Arial", sans-serif;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  padding: 9px 39px;
  cursor: pointer;
}

.selection-type, 
.sort-direction-filter,
.products-list,
.pagination-list {
  list-style: none;
}

.catalog-right-column {
	width: 700px;
}

.selection-products {
  background-color: #f7f3ec;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 17px 11px 18px;
  box-sizing: border-box;
}

.selection-products p {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 18px;
 }

.selection-products p {
	margin: 0;
	padding: 0;
	margin-right: 139px;
}

.selection-type {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.selection-type li {
	margin-right: 69px;
}

.selection-type li:last-child {
	margin-right: 0;
}

.selection-item.active a {
	color: #ee3643;
  border-bottom: none;
}

.selection-type a {
  color:rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;
  font-family: "PT SansRegular", "Arial", sans-serif; 
}

.selection-type a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.selection-type a:active {
  color: #ee3643;
  border-bottom: none;
}

.sort-direction-filter {
  display: flex;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none;
}

.sort-up {
	margin-right: 21px;
}

.least-most-arrows svg {
  fill: #ee3643;
}

.most-least-arrows svg {
  fill: #c5c5c5;
}

.least-most-arrows:hover svg,
.least-most-arrows:focus svg,
.most-least-arrows:hover svg, 
.most-least-arrows:focus svg {
    fill: #000000;
}
.least-most-arrows:active svg,
.most-least-arrows:active svg {
    fill:  #ee3643;
}

.products-catalog.inner {
	margin-bottom: 32px;
}

.item-best:nth-child(3n) {
	margin-right: 0;
}

.item-best {
	margin-bottom: 20px;
}

.pagination-list {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
	width: 284px;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-list .pagination-item {
	display: block;
  width: 38px;
  min-height: 38px;
  border-radius: 3px;
  text-transform: uppercase;
  box-sizing: border-box;
  font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", "New Times Roman", serif;
	text-align: center;
  padding-top: 11px
}

.pagination-item {
  border: 1px solid #e6e6e6;
   background-color: #ffffff;
}

.pagination-item a {
	 	color: #000000;
 }

.pagination-list .pagination-item-current  {
  border: none;
  outline: 0;
	cursor: default;
  background-color: #ee3643;
}

.pagination-item-current a {
	color: #ffffff;
}

.pagination-list .last {
	width: 140px;
	text-transform: uppercase;
	margin-right: 0;
} 

.pagination-item:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item:active {
	color: #000000;
	border: 1px solid #ee3643;
}

.description-wrapper {
	background-color: #f2f6f8;
	width: 100%;
	margin: 0;
	padding-top: 64px;
	padding-bottom: 68px;
}

.perforators-description {
  width: 940px;
  margin: 0 auto;
}

.perforators-description h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
   margin: 0;
  padding-bottom: 29px;
}

.perforators-description p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "New Times Roman", serif;
  margin: 0;
}

.order-popup {
  color: #000000;
  background-color: #ffffff;
  font-family: "CuprumRegular", "Arial", sans-serif;
  border-top: 7px solid #ee3643;
}

.order-popup-link {
  background-color: #f1f1f1;
}

.order-popup p {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
}

.order-popup-link a{
  font-size: 14px;
  line-height: 18px;
  font-family: "CuprumRegular", "Arial", sans-serif;
  text-transform: uppercase;
}

.placing-order {
  color: #ffffff;
  background-color: #ee3643;
}

.shopping-continue {
  color: #000000;
  background-color: #ffffff;
}
