body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", PT Sans, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
 }

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-hot-keys {
  background-color: #293449;
  max-height: 42px;
  width: 100%;
}

.header-hot-keys a {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
 }

.main-header {
  background-color: #f2f6f8;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

.main-header .container {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
}

.header-container-user {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header-container-user a{
  width: 150px;
  padding-top: 10px;
  padding-bottom: 12px;
  box-sizing: border-box;
  text-align: center;
  max-height: 42px;
}

.header-bookmark:active,
.header-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;

 }

.header-bookmark:hover,
.header-basket:hover {
  background-color: #212a3a;
  box-sizing: border-box;
 }

.header-bookmark:focus,
.header-basket:focus {
  background-color: #293449;
 }

.header-order {
  width: 150px;
  background-color: #63a63e;
 }

.header-order:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.header-order:hover {
  background-color: #5fbb2d;
}

.header-order:focus {
  background-color: #63a63e;
}

.search-form input {
  width: 270px;
  height: 42px;
  font-size: 17px;
  color: #ffffff;
  background-color: #293449;
  border: none;
  font-family: "CuprumRegular", "Arial", sans-serif;
  padding-left: 47px;
}

.search-form input:focus {
  color: #000000;
  background-color: #ffffff;
  outline: none;
}

.search-form .visually-hidden {
  display: none;
}

.header-logo {
  width: 220px;
  height: 47px;
  display: block;
  background-color: #ee3643;
  background-image: url("../img/logo-small.png");
  background-position: center;
  background-repeat: no-repeat;
 }

.logo-small:hover  {
  background-color: #cb2834;
  border-bottom: 5px solid #9b1c26;
}

.header-logo a:hover {
  background-color: #ca2c37;
}

.header-logo a:focus {
  background-color: #ee3643;
}

.bottom-header-container {
  width: 940px;
  margin: 0 auto;
}

.header-contacts-profile {
  display: flex;
  min-height: 158px;
  padding-top: 46px;
  box-sizing: border-box;
}

.about-company {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  width: 300px;
  padding: 0;
  margin:  0;
  padding-left: 50px;
  padding-right: 71px;
  width: 196px;
 }

.header-adress-information {
  margin-right: 50px;
}

.contacts {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  width: 270px;
  padding: 10px 15px;
  display: block;
  box-sizing: border-box;
}

.address {
  color: #32425c; 
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0:;
}

.user-navigation {
  display: flex;
   margin: 0;
  margin-left: auto;
  padding: 0;
}

.user-navigation,
.site-navigation,
.login.link {
  list-style: none;
}

.user-navigation .link,
.user-navigation .link-registration, 
.user-navigation-catalog .link {
	max-height: 45px;
	box-sizing: border-box;
	text-align: center;
  background-color: #ffffff;
}


.user-navigation .link {
  width: 121px;
  margin-right: 10px;
}

.user-navigation .link-registration {
  width: 150px;
}

.user-navigation .link-navigation,
.user-navigation-catalog .link-navigation {
  font-size: 21px;
  line-height: 21px;
	display: block;
  padding: 12px 15px;
  color: #000000;
}

.user-navigation .link-navigation:hover {
  color: #ee3643;
}

.user-navigation .link-navigation:active,
.user-navigation-catalog .link-navigation:active {
  color: rgba(0, 0, 0, 0.3);
}


.main-navigation {
  background-color: #32425c;
  border-bottom: 5px solid #32425c;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.site-navigation a{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff; 
  padding: 20px 0;
  display: block;
  padding: 20px 30px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  color:rgba(255, 255, 255, 0.5);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.features-row {
  display: flex;
  margin-bottom: 20px;
}

.features-item {
  width: 300px;
  min-height: 124px;
  margin-right: 20px;
  padding: 21px 23px;
  box-sizing: border-box;
}

.features-list h3,
.features-column h3 {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  padding-bottom: 15px;
  margin: 0;
}

.features-list a,
.features-column a {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  width: 135;
  display: inline-block;
}

.features-list a:hover,
.features-column a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.features-list a:active,
.features-column a:active{
  background-color: rgba(0, 0, 0, 0.3);
}


.features-item.materials {
  background-color: #ffbf47;
} 

.features-item.tool {
  background-color: #3bbce3;
}

.features-item.technic {
  background-color: #dc91d8;
  margin-right: 0;
}

.features-item.discounts {
  background-color: #8ed78f;
}

.features-item.delivery {
  background-color: #ffc047;
}

.block-slider {
  width: 620px;
  height: 266px;
  margin-bottom: 20px;
}

.block-slider-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 620px;
	height: 266px;
	margin-right: 20px;
}

.slider-item1,
.slider-item2 {
  position: relative;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  width: 620px;
  height: 266px;
  padding: 25px 24px 22px 24px;
  box-sizing: border-box;
}

.perforator-current {
	display: block;
}

.slider-item1 h2,
.slider-item2 h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
  margin: 0;
  padding-bottom: 10px;
} 

.slider-item1 p,
.slider-item2 p {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  z-index: 1;
  margin: 0;
}

.slider-item1 img,
.slider-item2 img {
	display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-item1 a,
.slider-item2 a {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;	
} 

.slider-item1.perforator a:hover,
.slider-item2.drill a:hover {
  background-color: #ca2c37;
 }

.slider-item1.perforator a:active,
.slider-item2.drill a:active {
  background-color: #ba2732;
 }

.features-column {
  display: flex;
  flex-direction: column;
}

.features-column .features-item {
  margin-right: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  min-height: 124px;
}

.features-item.delivery {
  margin-bottom: 0 px;
}

.column-wrapper {
	display: flex;
	margin-bottom: 53px;
}


.products-header,
.manufacturers-header {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.products-header p,
.manufacturers-header p {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 26px;
}

.products-header a,
.manufacturers-header a {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 253px;
  margin: 24px;
  text-align: center;
}

.products-catalog {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.products-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 20px;
}

.products-item:last-child {
  margin-right: 0;
}


.products-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: "PTSansBold", "Arial", sans-serif;
  text-align: center;
 }

.products-item del,
.products-item b {
  font-size: 17px;
  line-height: 18px;
  font-family: "PTSansBold", "Arial", sans-serif;
  text-align: center
 }

.products-item del {
  color: #a9a9a9;
}

.products-item b {
  color: #ffffff;
  background-color: #ee3643;
}

.buy-button {
  color: #ffffff;
  background-color: #63a63e;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #367315;
}

.buy-button:hover {
  background-color: #5fbb2d;
  border-bottom: 1px solid #367315;
}

.buy-button:active {
  background-color: #518534;
  border-bottom: 1px solid #518534;
}

.bookmark-button {
  color: #32425c;
  background-color: #ffffff;
  border: 1px solid #63a63e;
  font-size: 14px;
  line-height: 18px;
 }

.bookmark-button:hover {
  border: 1px solid #32425c;
}

.bookmark-button:active {
  border: 1px solid #c1c6ce;
  color:rgba(50, 66, 92, 0.3);
}

.manufacturers-catalog {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;
  display: flex;
  flex-wrap: wrap;
}

.manufacturers-catalog li {
  border: 1px solid #ebebeb;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.manufacturers-catalog li:nth-child(4),
.manufacturers-catalog li:nth-child(8) {
  margin-right: 0;
}

.services {
  background-color: #f4f8fa;
  padding-top: 65px;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.services p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 67px;
  width: 400px;
}

.services-wrapper {
  display: flex;
  width: 240px;
}

.services-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 60px;
}

.services-menu li {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  font-weight: 700;
  width: 240px;
  border-bottom: 1px solid #4d637b;
}

.services-menu a {
  color: #ffffff;
}

.services-menu a:hover {
  background-color: #293449;
}

.services-menu a:active {
  background-color: #ffffff;
  color: #32425c;
}

.services-description {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.delivery-wrapper {
  display: flex;
}

.services-description h3 {
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 31px;
}

.services-description p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PTSansRegular", "Arial", sans-serif;
  margin: 0;
  width: 300px;
}

.services-description img {
	position: absolute;
	top: 15px;
	left: 169px;
	z-index: -1;
}



.services-description a {
  width: 195px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ff5357;
  text-transform: uppercase;
}

.services-container {
  display: flex;
  padding-top: 77px;
  padding-bottom: 87px;
}

.about-delivery {
  width: 540px;
}

.about-contacts {
  width: 300px;
  margin-left: auto;
}

.about-delivery h2,
.about-contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 27px;
} 

.about-delivery p,
.about-contacts p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PTSansRegular", "Arial", sans-serif;
  margin: 0;
} 

.about-delivery .delivery-detalization {
  margin-top: 25px;
}

.delivery-company {
  list-style: none;
}

.delivery-company li {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}  

.about-company-button,
.write-us-button {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425c;
}

.footer-main-navigation {
  display: flex;
  padding-bottom: 30px;
}

.footer-logo-top {
  margin-right: 40px;
  flex: 0 0 340px;
}

.footer-logo {
	display: inline-block;
	margin-bottom: 30px;
}

.footer-logo-top .footer-contacts,
.footer-logo-top .phone {
	color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.footer-contacts, 
.footer-phone {
	margin: 0;
}

.footer-nav-menu {
  display: flex;
  margin: 40px 0 0;
  padding-left: 0;
}

.footer-nav-menu,
.footer-navigation-products,
.social-list {
  list-style: none;
}

.footer-nav-menu li,
.footer-navigation-products li {
  margin-right: 30px;
}

.footer-nav-menu li:last-child,
.footer-navigation-products li:last-child {
  margin-right: 0;
}

.footer-navigation-products {
  display: flex;
  margin: 40px 0 0;
  padding-left: 30px;
}

.footer-nav-menu a {
   color: #ffffff;
   font-size: 18px;
  line-height: 24px;
  padding: 14px
 }

 .footer-navigation-products a {
   color: #ffd180;
   font-size: 18px;
  line-height: 24px;
  padding: 14px
 }

.footer-nav-menu a:hover,
.footer-navigation-products a:hover {
   text-decoration: underline;
}

.footer-nav-menu a:active,
.footer-navigation-products a:active {
   opacity: 0.5;
   text-decoration: none;
}

.footer-bottom-container {
	width: 100%;
	background-color: #293449;
}

.footer-links {
  margin: 0 auto;
  width: 940px;
  padding-top: 37px;
  padding-bottom: 35px;
}

.footer-links {
	display: flex;
}

.social-list  {
	padding: 0;
	margin: 0;
  text-align: center;
  width: 140px;
  margin-right: 60px;
  order: 2;
}

.social-button a {
  color: #ffffff;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button a:hover,
.social-button a:active {
  background-color: #ee3643;
}

.copyright {
	margin-right: 140px;
  flex: 0 0 240px;
	order: 1;
}

.copyright p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}

.feedback {
	display: flex;
	order: 3;
}

.feedback b:first-child {
  margin-right: 50px;
}

.feedback b:last-child {
  text-align: center;
}

.feedback b {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

.feedback a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
}

.feedback a:hover {
  text-decoration: underline;
}

.feedback a:active {
  color: #ee3643;
  text-decoration: none;
}

.write-us-popup {
  color: #a9a9a9;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
}

.write-us-form label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input {
  color: #999999;
  font-size: 13px;
  line-height: 18px;
  font-family: "PTSansRegular", "Arial", sans-serif;
  border: 2px solid #d7dcde;
}

.write-us-form input:hover {
  border: 2px solid #b5b5b5;
}

.write-button-popup:focus {
  background-color: #ee3643;
}

.popup-button {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 14px;
  line-height: 18px;
  font-family: "PTSansRegular", "Arial", sans-serif;
  text-transform: uppercase;
  border: none;
}

.main-header.inner {
	margin-bottom: 20px;
}

.header-basket-active {
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
 }

.login-link:active {
  color:rgba(0, 0, 0, 0.3);
 }

.user-navigation-catalog .link {
  width: 300px;
  margin: 0;
  padding: 0;
}

.link .orders {
  text-decoration: underline;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.link-wrapper {
	display: flex;
	margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-top: 8px
}

.link-wrapper li {
	margin-right: 30px;
}

.link-wrapper .orders:hover,
.link-wrapper .orders:focus {
   color: #ee3643;
}

.link-wrapper .orders:active {
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs {
 	list-style: none;
 	display: flex;
 	align-items: center;
 	margin: 0;
 	padding: 0;
 	margin-bottom: 20px;
 }

 .breadcrumbs a {
   color: #000000;
}

 .breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT SansRegular", "Arial", sans-serif;
  text-transform: uppercase;
  margin-right: 30px;
 }

.header-container {
	background-color: #f2f6f8;
	margin-bottom: 20px;
	padding: 30px 0 30px 30px;
}

.product-header h1 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.catalog-columns-wrapper {
	display: flex;
}

.filter {
	width: 220px;
	margin-right: 20px;
}

.filter-wrapper {
	display: flex;
	background-color: #f7f3ec;
	height: 38px;
	margin-bottom: 14px;
}

 .filter fieldset {
   border: none;
 }

.filter-wrapper h2,
.selection-products p {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-left: 19px;
 }

.range-input {
  color: #000000;
  background-color: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  font-family: "PTSansRegular", "Arial", sans-serif;
  width: 95px;
  border: none;
}

.price-controls {
	display: flex;
}

.filter legend {
   color: #000000;
   font-size: 17px;
   line-height: 30px;
   font-weight: 700;
   text-transform: uppercase;
   font-family: "PT Sans", "Arial", sans-serif;
 }

.filter label {
   color: #000000;
   font-size: 15px;
   line-height: 20px;
   font-weight: 400;
   font-family: "PT Sans", "Arial", sans-serif; 
 }

.filter ul {
  list-style: none;
  line-height: 30px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.4;
}

button.manufacturers-button {
   color: #000000;
   background-color: #ffffff;
   font-size: 13px;
   line-height: 18px;
   font-weight: 400;
   text-transform: uppercase;
   font-family: "PTSansRegular", "Arial", sans-serif;
   border: 1px solid #c6c6c6;;
   padding: 10px 39px;
   cursor: pointer;
}

.selection-type, 
.sort-direction-filter,
.products-list,
.pagination-list {
  list-style: none;
}

.catalog-right-column {
	width: 700px;
}

.selection-products {
  background-color: #f7f3ec;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.selection-products p {
	margin-right: 139px;
}

.selection-type {
	display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}

.selection-type li {
	margin-right: 69px;
}

.selection-type li:last-child {
	margin-right: 0;
}

.selection-item.active a {
	color: #ee3643;
  border-bottom: none;
}

.selection-type a {
  color:rgba(0, 0, 0, 0.3);
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;
  font-family: "PT SansRegular", "Arial", sans-serif; 
}

.selection-type a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.selection-type a:active {
  color: #ee3643;
  border-bottom: none;
}

.products-catalog.inner {
	margin-bottom: 52px;
}

.item-best:nth-child(3n) {
	margin-right: 0;
}

.item-best {
	margin-bottom: 20px;
}

.list-item h3 {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-family: "PTSansBold", "Arial", sans-serif;
 }

.products-item del,
.products-item b {
  font-size: 17px;
  line-height: 18px;
  font-family: Pt Sans;
  font-weight: 700;
}

.pagination-list {
	padding: 0;
	margin: 0;
	display: flex;
	margin-bottom: 60px;
}

.pagination-item a {
  color: #000000;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-family: "PTSansRegular", "Arial", sans-serif;
}

.pagination-item a:hover {
  border: 1px solid #bec7cb;
}

.pagination-item a:active {
  border: 1px solid #ef3341;
}

.pagination-item-current a {
  color: #ffffff;
  background-color: #ee3643;
  border: none;
}

.description-wrapper {
	background-color: #f2f6f8;
	width: 100%;
	margin: 0;
	padding-top: 64px;
	padding-bottom: 68px;
}

.perforators-description {
  width: 940px;
  margin: 0 auto;
}

.perforators-description h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "CuprumRegular", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 29px;
}

.perforators-description p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: "CuprumRegular", "Arial", sans-serif;
  margin: 0;
}

.order-popup {
  color: #000000;
  background-color: #ffffff;
  font-family: "CuprumRegular", "Arial", sans-serif;
  border-top: 7px solid #ee3643;
}

.order-popup-link {
  background-color: #f1f1f1;
}

.order-popup p {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
}

.order-popup-link a{
  font-size: 14px;
  line-height: 18px;
  font-family: "CuprumRegular", "Arial", sans-serif;
  text-transform: uppercase;
}

.placing-order {
  color: #ffffff;
  background-color: #ee3643;
}

.shopping-continue {
  color: #000000;
  background-color: #ffffff;
}
